<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h4>Mon profil</h4>
        </div>
        <div class="col-sm-6">
            <div *ngIf="editForm.dirty" class="alert alert-danger">
                <strong>Remarque : </strong>
                Les modifications apportées au fichier de profil doivent être enregistrées
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card">
                <img class="card-img-top" src="{{photoUrl}}" alt="Card image">
            </div>
            <div class="card-footer">
                <div>
                    <button form="editForm" [disabled]='!editForm.dirty' class="btn btn-outline-primary btn-block"
                        type="submit" style="font-family:LegendryDemoRegular;font-size:1.5rem;">
                        Save
                    </button>

                </div>
            </div>

        </div>
        <div class="col-lg-6 col-md-6 col-sm-6" style="color: rgb(7, 7, 7);">
            <div class="tab-Panel">
                <tabset class="project-tabset">
                    <tab heading="Mes infos">
                        <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser()">
                            <div class="card">
                                <div class="card-header">
                                    <h4>Divers infos</h4>
                                </div>
                                <div class="card-text mt-3 p-2">
                                    <div>
                                        <label for="userName">Name </label><br>
                                        <input type="text" name="userName" [(ngModel)]="user.userName">
                                    </div>
                                    <div>
                                        <label for="userAge">Age </label><br>
                                        <input type="text" name="userAge" [(ngModel)]="user.age">
                                    </div>
                                    <div>
                                        <label for="usercountry">Country </label><br>
                                        <input type="text" name="usercountry" [(ngModel)]="user.country">
                                    </div>
                                    <div>
                                        <label for="usercity">Country </label><br>
                                        <input type="text" name="usercity" [(ngModel)]="user.city">
                                    </div>
                                </div>
                            </div>

                            <br>
                            <div class="card">
                                <div class="card-header">
                                    <h4>Introduction</h4>
                                </div>
                                <div>
                                    <textarea name="introduction" [(ngModel)]="user.introduction" rows="6"
                                    class="form-control"></textarea>
                                </div>
                            </div>
                            <br>

                            <div class="card">
                                <div class="card-header">
                                    <h4>Intérêts</h4>
                                </div>
                                <div>
                                    <textarea name="interests" [(ngModel)]="user.interests" rows="6"
                                        class="form-control"></textarea>
                                </div>
                            </div>
                            <br>

                            <div class="card">
                                <div class="card-header">
                                    <h4>À la recherche de</h4>
                                </div>
                                <div>
                                    <textarea name="lookinFor" [(ngModel)]="user.lookinFor" rows="6"
                                    class="form-control"></textarea>
                                </div>
                            </div>
                            <br>
                         </form>
                    </tab>
                    <tab heading="Mes photos">
                        <app-photo-user-edito [photos]="user.photos"></app-photo-user-edito>
                        <!-- <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="img-thumbnail"></ngx-gallery> -->
                    </tab>
                </tabset>
            </div>
            <br>
            <br>
        </div>
    </div>
</div>