<div class="container mt-5">
  <div *ngIf="!registerMode" style="text-align: center">
    <h2 style="font-family:'AmericanCaptain';font-size:2.75rem;color: rgb(17, 17, 17)">Full Stack Developer</h2>
    <img src="./assets/img/lines.svg" class="img-lines" alt="lines">
    <h5 style="font-family:'Leorio';font-size:1.5rem;color: rgb(17, 17, 17)">
      Hi! I'm Wissem, a .net developer, a guy slightly obsessed with quality of code.
      I am currently available for freelance work. If you have a project you want to start or think you need my help
      with something,
      please contact us.</h5>

   


    <div class="text-center">
        <a [routerLink]="['/users']" style="font-family:'LegendryDemoRegular'"
        class="btn btn-outline-primary btn-lg">See Profile</a>
    </div>
  </div>

  <br><br>

  <div class="container">
    <app-project-list></app-project-list>
  </div>

  <br><br>

  <div class="container">
    <app-outiel-list></app-outiel-list>
  </div>


  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <!-- Ajouter paramet (cancelRegister) pour faire la lision entre fis et pére-->
        <app-register (cancelRegister)="cancelRegister($event)">
        </app-register>
      </div>
    </div>
  </div>
</div>