/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

/*Fonts*/

@font-face {font-family: "LatiFontRegular"; src: url("./assets/fonts/LatiFontRegular.ttf")}
@font-face {font-family: "LegendryDemoRegular"; src: url("./assets/fonts/LegendryDemoRegular.ttf")}
@font-face {font-family: "RegularBrush"; src: url("./assets/fonts/RegularBrush.otf")}
@font-face {font-family: "AdrenalinesDemoRegular"; src: url("./assets/fonts/AdrenalinesDemoRegular.ttf")}


