<!-- <div class="card mb-4">
  <div class="card-body p-1">
    <h6 style="font-weight:bold;font-family:'Leorio';font-size:1.0rem;color: rgb(7, 7, 7)" 
        class="card-title text-center mb-1"><i class="fa fa-puzzle-piece"></i>
        {{skill.skillName}} {{skill.percentage}}%
    </h6>
  
  </div>

</div> -->


 
      <div class="skill">
          <h4 style="font-family:'Leorio';color: rgb(17, 17, 17);"> {{skill.skillName}}</h4>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated " style="width:{{skill.percentage}}%">{{skill.percentage}}%</div>
          </div>
      </div><!-- /.skill -->
     

  
 

