/* site-section */
.site-section {
    padding-top: 120px;
 }
 
 .site-section h2,
 .site-section h3 {
     font-size: 36px;
     margin: 0;
     text-transform: uppercase;
 }
 
 .site-section p {
    margin-bottom: 35px;
}
.site-section p.counter {
    font-size: 100px;
    font-weight: 300;
    color: #fff;
    margin: 0;
    line-height: 0.8;
}
.section-skills {
    padding-bottom: 120px;
}

.img-lines {
    margin: 15px 0 40px;
}

.btn-outline-primary:hover {
    text-decoration: none;
    color: black !important;
    background: rgb(252, 210, 25) !important
      }