<!-- <h1 style="font-family:'AmericanCaptain';color: rgb(5, 5, 5)">List Des Skills</h1>
<div class="container">
  <div class="row">
    <div *ngFor="let skill of skills" class="col-lg-2 col-md-3 col-sm-6">
      <app-skill [skill]='skill'></app-skill>
      <br>
      <br>
      <br>
    </div>
  </div>
</div> -->

<section class="site-section section-skills">
  <div class="container">
      <div class="text-center">
          <h3 style="font-family:'AmericanCaptain';font-size:2.75rem;color: rgb(17, 17, 17)">My Skills</h3>
          <img src="./assets/img/lines.svg" class="img-lines" alt="lines">
      </div>
      <div class="row">
        <div *ngFor="let skill of skills" class="col-lg-4 col-md-4 col-sm-4">
          <app-skill [skill]='skill'></app-skill>
          <br>
          <br>
          <br>
        </div>         
         
      </div>
  </div>
</section><!-- /.secton-skills -->