<div class="container">
  <div *ngFor="let user of users" class="row">
    <div class="col-lg-6 col-md-6 col-sm-6" >
      <img class="card-img-top" src="{{user.photoUrl}}" alt="Card image" >
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6" style="color: rgb(7, 7, 7);" >
      <div>
        <strong>Name  :</strong>
        <p>{{user?.userName}}</p>
      </div>
      <div>
        <strong>Age  :</strong>
        <p>{{user?.age}}</p>
      </div>
      <div>
        <strong>City  :</strong>
        <p>{{user?.city}}</p>
      </div>
      <div>
        <strong>Country  :</strong>
        <p>{{user?.country}}</p>
      </div>
      <div>
        <strong>Interests  :</strong>
        <p>{{user?.interests}}</p>
      </div>
      <div>
        <strong>Lookin For  :</strong>
        <p>{{user?.lookinFor}}</p>
      </div>
      <div>
        <strong>Introduction  :</strong>
        <p>{{user?.introduction}}</p>
      </div>
    
    </div>
  </div>
</div>