<form #registerForm="ngForm" (ngSubmit)="register()"  >
    <h4 style="font-family:'LegendryDemoRegular';font-size:2rem;color: rgb(253, 253, 251)" class="text-center">
      Ajouter un nouveau projet</h4>
    <hr>
  
    <div class="form-group">
      <input name="projectName" [(ngModel)]="model.projectName" type="text" class="form-control" placeholder="Nom de projet">
    </div>

    <div class="form-group">
        <input name="companyName" [(ngModel)]="model.companyName" type="text" class="form-control" placeholder="Nom de company">
    </div>

    <div class="form-group">
        <input name="mission" [(ngModel)]="model.mission" type="text" class="form-control" placeholder="Mission">
    </div>

    <div class="form-group">
        <input name="environment" [(ngModel)]="model.environment" type="text" class="form-control" placeholder="environment">
    </div>

    <div class="form-group">
        <input name="city" [(ngModel)]="model.city" type="text" class="form-control" placeholder="Ville">
    </div>

    <div class="form-group">
        <input name="country" [(ngModel)]="model.country" type="text" class="form-control" placeholder="Pays">
    </div>
  
    
  
    <div class="form-group text-center">
      <button  style="font-family:'LegendryDemoRegular';" class="btn btn-outline-primary btn-lg" type="submit">Ajouter</button>
      <button (click)="cancel()" style="font-family:'LegendryDemoRegular';" class="btn btn-outline-primary btn-lg ml-2" type="button">Annuler</button>
    </div>
  </form> 